In [1]:
import pandas as pd
# from sklearn.linear_model import LinearRegression 
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder

In [7]:
file_path = 'data\CarPrice_Assignment.xlsx'
df = pd.read_excel(file_path, sheet_name="CarPrice_Assignment", header=0)

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\2696449065.py:1: SyntaxWarning: invalid escape sequence '\C'
  file_path = 'data\CarPrice_Assignment.xlsx'

### **Regression for cylinder's attribute**

In [8]:
df_dummies = pd.read_csv('data\dummy_data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\3027465650.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_dummies = pd.read_csv('data\dummy_data.csv')

In [9]:
df_dummies

,Unnamed: 0,car_ID,symboling,CarName,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,...,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi,price1
0,0,1,3,alfa-romero giulia,88.6,168.8,64.1,48.8,2548,130,...,False,False,False,False,False,False,True,False,False,13495.0
1,1,2,3,alfa-romero stelvio,88.6,168.8,64.1,48.8,2548,130,...,False,False,False,False,False,False,True,False,False,16500.0
2,2,3,1,alfa-romero Quadrifoglio,94.5,171.2,65.5,52.4,2823,152,...,False,False,False,False,False,False,True,False,False,16500.0
3,3,4,2,audi 100 ls,99.8,176.6,66.2,54.3,2337,109,...,False,False,False,False,False,False,True,False,False,13950.0
4,4,5,2,audi 100ls,99.4,176.6,66.4,54.3,2824,136,...,False,False,False,False,False,False,True,False,False,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,201,-1,volvo 145e (sw),109.1,188.8,68.9,55.5,2952,141,...,False,False,False,False,False,False,True,False,False,16845.0
201,201,202,-1,volvo 144ea,109.1,188.8,68.8,55.5,3049,141,...,False,False,False,False,False,False,True,False,False,19045.0
202,202,203,-1,volvo 244dl,109.1,188.8,68.9,55.5,3012,173,...,False,False,False,False,False,False,True,False,False,21485.0
203,203,204,-1,volvo 246,109.1,188.8,68.9,55.5,3217,145,...,False,False,False,False,True,False,False,False,False,22470.0
204,204,205,-1,volvo 264gl,109.1,188.8,68.9,55.5,3062,141,...,False,False,False,False,False,False,True,False,False,22625.0

In [10]:
df['cylindernumber']

0      four
1      four
2       six
3      four
4      five
       ...
200    four
201    four
202     six
203     six
204    four
Name: cylindernumber, Length: 205, dtype: object

In [11]:
df['cylindernumber'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [12]:
from patsy import dmatrices

In [13]:
y, X = dmatrices('price ~ C(cylindernumber)', data=df, return_type='dataframe')

# Fit the OLS model
model = sm.OLS(y, X)
reg = model.fit()

# Print the summary of the regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.625
Method:                 Least Squares   F-statistic:                     57.57
Date:                Sun, 26 May 2024   Prob (F-statistic):           8.07e-41
Time:                        11:44:35   Log-Likelihood:                -2029.0
No. Observations:                 205   AIC:                             4072.
Df Residuals:                     198   BIC:                             4095.
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                     3.74e+04   2189.018     17.085      0.000    3.31e+04    4.17e+04
C(cylindernumber)[T.five]   -1.577e+04   2640.055     -5.973      0.000    -2.1e+04   -1.06e+04
C(cylindernumber)[T.four]   -2.711e+04   2223.170    -12.196      0.000   -3.15e+04   -2.27e+04
C(cylindernumber)[T.six]    -1.373e+04   2406.261     -5.705      0.000   -1.85e+04   -8983.078
C(cylindernumber)[T.three]  -3.225e+04   5361.977     -6.014      0.000   -4.28e+04   -2.17e+04
C(cylindernumber)[T.twelve] -1400.1000   5361.977     -0.261      0.794    -1.2e+04    9173.813
C(cylindernumber)[T.two]    -2.438e+04   3283.527     -7.425      0.000   -3.09e+04   -1.79e+04
==============================================================================
Omnibus:                       24.022   Durbin-Watson:                   0.813
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               28.626
Skew:                           0.860   Prob(JB):                     6.08e-07
Kurtosis:                       3.627   Cond. No.                         25.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### **Regression for 6 dummies of cylindernumber**

#### Splitting in to a separated dataframe

In [17]:
df_cylinder = df_dummies[['cylindernumber_five', 'cylindernumber_four', 'cylindernumber_six', 'cylindernumber_three', 'cylindernumber_twelve', 'cylindernumber_two']]
df_cylinder

,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,False,True,False,False,False,False
1,False,True,False,False,False,False
2,False,False,True,False,False,False
3,False,True,False,False,False,False
4,True,False,False,False,False,False
...,...,...,...,...,...,...
200,False,True,False,False,False,False
201,False,True,False,False,False,False
202,False,False,True,False,False,False
203,False,False,True,False,False,False
204,False,True,False,False,False,False

In [19]:
# Columns to be label encoded
columns_to_encode = ['cylindernumber_five', 'cylindernumber_four', 'cylindernumber_six', 'cylindernumber_three', 'cylindernumber_twelve', 'cylindernumber_two']

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply LabelEncoder to each column
for column in columns_to_encode:
    df_cylinder[column] = label_encoder.fit_transform(df_cylinder[column])

# Display the transformed DataFrame
df_cylinder

C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\270239797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cylinder[column] = label_encoder.fit_transform(df_cylinder[column])
C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\270239797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cylinder[column] = label_encoder.fit_transform(df_cylinder[column])
C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\270239797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cylinder[column] = label_encoder.fit_transform(df_cylinder[column])
C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\270239797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cylinder[column] = label_encoder.fit_transform(df_cylinder[column])
C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\270239797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cylinder[column] = label_encoder.fit_transform(df_cylinder[column])
C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\270239797.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cylinder[column] = label_encoder.fit_transform(df_cylinder[column])

,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,0,1,0,0,0,0
1,0,1,0,0,0,0
2,0,0,1,0,0,0
3,0,1,0,0,0,0
4,1,0,0,0,0,0
...,...,...,...,...,...,...
200,0,1,0,0,0,0
201,0,1,0,0,0,0
202,0,0,1,0,0,0
203,0,0,1,0,0,0
204,0,1,0,0,0,0

In [21]:
df_cylinder['price'] = df_dummies['price1']

C:\Users\haingoc\AppData\Local\Temp\ipykernel_9928\22116047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cylinder['price'] = df_dummies['price1']

In [22]:
df_cylinder

,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,price
0,0,1,0,0,0,0,13495.0
1,0,1,0,0,0,0,16500.0
2,0,0,1,0,0,0,16500.0
3,0,1,0,0,0,0,13950.0
4,1,0,0,0,0,0,17450.0
...,...,...,...,...,...,...,...
200,0,1,0,0,0,0,16845.0
201,0,1,0,0,0,0,19045.0
202,0,0,1,0,0,0,21485.0
203,0,0,1,0,0,0,22470.0
204,0,1,0,0,0,0,22625.0

In [23]:
df_cylinder.corr()

,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,price
cylindernumber_five,1.000000,-0.442706,-0.086709,-0.016672,-0.016672,-0.033591,0.249606
cylindernumber_four,-0.442706,1.000000,-0.676996,-0.130168,-0.130168,-0.262272,-0.697762
cylindernumber_six,-0.086709,-0.676996,1.000000,-0.025495,-0.025495,-0.051369,0.474978
cylindernumber_three,-0.016672,-0.130168,-0.025495,1.000000,-0.004902,-0.009877,-0.071388
cylindernumber_twelve,-0.016672,-0.130168,-0.025495,-0.004902,1.000000,-0.009877,0.199634
cylindernumber_two,-0.033591,-0.262272,-0.051369,-0.009877,-0.009877,1.000000,-0.004544
price,0.249606,-0.697762,0.474978,-0.071388,0.199634,-0.004544,1.000000

#### OLS Summary

In [24]:
y, X = dmatrices('price ~ C(cylindernumber_two)', data=df_cylinder, return_type='dataframe')

# Fit the OLS model
model = sm.OLS(y, X)
reg = model.fit()

# Print the summary of the regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.005
Method:                 Least Squares   F-statistic:                  0.004192
Date:                Sun, 26 May 2024   Prob (F-statistic):              0.948
Time:                        11:57:48   Log-Likelihood:                -2132.5
No. Observations:                 205   AIC:                             4269.
Df Residuals:                     203   BIC:                             4276.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                   1.328e+04    564.871     23.513      0.000    1.22e+04    1.44e+04
C(cylindernumber_two)[T.1]  -261.8192   4043.858     -0.065      0.948   -8235.170    7711.531
==============================================================================
Omnibus:                       77.277   Durbin-Watson:                   0.440
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              180.229
Skew:                           1.763   Prob(JB):                     7.31e-40
Kurtosis:                       5.944   Cond. No.                         7.23
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
y, X = dmatrices('price ~ C(cylindernumber_three)', data=df_cylinder, return_type='dataframe')

# Fit the OLS model
model = sm.OLS(y, X)
reg = model.fit()

# Print the summary of the regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.040
Date:                Sun, 26 May 2024   Prob (F-statistic):              0.309
Time:                        11:58:07   Log-Likelihood:                -2131.9
No. Observations:                 205   AIC:                             4268.
Df Residuals:                     203   BIC:                             4275.
Df Model:                           1
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                     1.332e+04    559.277     23.810      0.000    1.22e+04    1.44e+04
C(cylindernumber_three)[T.1] -8165.5425   8007.627     -1.020      0.309    -2.4e+04    7623.247
==============================================================================
Omnibus:                       77.652   Durbin-Watson:                   0.411
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              182.130
Skew:                           1.768   Prob(JB):                     2.82e-40
Kurtosis:                       5.969   Cond. No.                         14.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [26]:
y, X = dmatrices('price ~ C(cylindernumber_four)', data=df_cylinder, return_type='dataframe')

# Fit the OLS model
model = sm.OLS(y, X)
reg = model.fit()

# Print the summary of the regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.487
Model:                            OLS   Adj. R-squared:                  0.484
Method:                 Least Squares   F-statistic:                     192.6
Date:                Sun, 26 May 2024   Prob (F-statistic):           3.09e-31
Time:                        11:58:25   Log-Likelihood:                -2064.1
No. Observations:                 205   AIC:                             4132.
Df Residuals:                     203   BIC:                             4139.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                    2.362e+04    845.835     27.919      0.000    2.19e+04    2.53e+04
C(cylindernumber_four)[T.1] -1.333e+04    960.426    -13.878      0.000   -1.52e+04   -1.14e+04
==============================================================================
Omnibus:                       22.957   Durbin-Watson:                   0.763
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               31.975
Skew:                           0.694   Prob(JB):                     1.14e-07
Kurtosis:                       4.347   Cond. No.                         4.01
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [27]:
y, X = dmatrices('price ~ C(cylindernumber_five)', data=df_cylinder, return_type='dataframe')

# Fit the OLS model
model = sm.OLS(y, X)
reg = model.fit()

# Print the summary of the regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.062
Model:                            OLS   Adj. R-squared:                  0.058
Method:                 Least Squares   F-statistic:                     13.49
Date:                Sun, 26 May 2024   Prob (F-statistic):           0.000307
Time:                        11:58:32   Log-Likelihood:                -2125.9
No. Observations:                 205   AIC:                             4256.
Df Residuals:                     203   BIC:                             4262.
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                     1.28e+04    556.778     22.995      0.000    1.17e+04    1.39e+04
C(cylindernumber_five)[T.1]  8827.4259   2403.601      3.673      0.000    4088.200    1.36e+04
==============================================================================
Omnibus:                       90.576   Durbin-Watson:                   0.490
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              261.066
Skew:                           1.955   Prob(JB):                     2.04e-57
Kurtosis:                       6.908   Cond. No.                         4.45
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [28]:
y, X = dmatrices('price ~ C(cylindernumber_six)', data=df_cylinder, return_type='dataframe')

# Fit the OLS model
model = sm.OLS(y, X)
reg = model.fit()

# Print the summary of the regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.226
Model:                            OLS   Adj. R-squared:                  0.222
Method:                 Least Squares   F-statistic:                     59.14
Date:                Sun, 26 May 2024   Prob (F-statistic):           6.22e-13
Time:                        11:58:39   Log-Likelihood:                -2106.3
No. Observations:                 205   AIC:                             4217.
Df Residuals:                     203   BIC:                             4223.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
Intercept                    1.19e+04    523.834     22.714      0.000    1.09e+04    1.29e+04
C(cylindernumber_six)[T.1]  1.177e+04   1530.964      7.690      0.000    8754.851    1.48e+04
==============================================================================
Omnibus:                       91.394   Durbin-Watson:                   0.524
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              292.870
Skew:                           1.905   Prob(JB):                     2.54e-64
Kurtosis:                       7.447   Cond. No.                         3.16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [29]:
y, X = dmatrices('price ~ C(cylindernumber_twelve)', data=df_cylinder, return_type='dataframe')

# Fit the OLS model
model = sm.OLS(y, X)
reg = model.fit()

# Print the summary of the regression
print(reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.040
Model:                            OLS   Adj. R-squared:                  0.035
Method:                 Least Squares   F-statistic:                     8.426
Date:                Sun, 26 May 2024   Prob (F-statistic):            0.00411
Time:                        11:59:03   Log-Likelihood:                -2128.3
No. Observations:                 205   AIC:                             4261.
Df Residuals:                     203   BIC:                             4267.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                      1.317e+04    549.421     23.962      0.000    1.21e+04    1.42e+04
C(cylindernumber_twelve)[T.1]  2.283e+04   7866.509      2.903      0.004    7324.134    3.83e+04
==============================================================================
Omnibus:                       80.292   Durbin-Watson:                   0.427
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              198.186
Skew:                           1.798   Prob(JB):                     9.21e-44
Kurtosis:                       6.204   Cond. No.                         14.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.